# Arquivos de ambiente - NUNCA ENVIE SEGREDOS!
.env
*.env

# Ambientes virtuais do Python
# Isso ignora /venv, /frontend_service/venv, /client-python/venv, etc.
venv/
*/venv/

# Cache e arquivos compilados do Python
__pycache__/
*.py[cod]
*.pyo

# Arquivos de configuração do VS Code
.vscode/
.idea/

*_data/
cassandra_data/
cockroach_data/
kafka_data/
minio_data/
zookeeper_data/
zookeeper_log/
grafana_data/
libs/
python_libs/
client-python/


# Arquivos de build do Docker (se existirem)
.dockerignore

.DS_Store
Thumbs.db
Desktop.ini

# Logs
*.log